services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
      POSTGRES_DB: database
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'
  adminer:
    image: adminer
    container_name: adminer
    restart: always
    ports:
      - '8080:8080'
    depends_on:
      - postgres
  mosquitto:
    image: eclipse-mosquitto:2
    container_name: mosquitto
    restart: always
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    ports:
      - '9001:9001' # MQTT sobre WebSocket para el frontend
      - '1883:1883' # (opcional) MQTT TCP (por si luego quieres usarlo)

volumes:
  postgres_data:
